<%- include("../includes/html-head.ejs") %>

    <link rel="stylesheet" href="/css/cart_style.css">



<%- include("../includes/html-start.ejs") %>


    <%- include("../includes/index-header.ejs") %>
    <main id="main">

        <% products.forEach(p => { %>
            <li class="cart__item">
                <h1><%= p.productId.title %></h1>
                <h2>Quantity: <%= p.quantity %></h2>
            </li>
        <% }) %>

        <div class="centered">
            <h2>Total: <%= totalSum %></h2>
        </div>


        <div class="centered">
            <button id="order-btn" class="btn">ORDER</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                // This is your test publishable API key.
                //remove*
                var stripe = Stripe("<%=Pub_Test_K%>");
                //
                var orderBtn = document.getElementById("order-btn");
                //will redirect the user to some of stripe's pages
                //to place card info and once done the user is redirected back to us
                orderBtn.addEventListener("click", function() {
                    stripe.redirectToCheckout({
                        //sessionId should be a string
                        //inject the js code in a string
                        sessionId: "<%=sessionId%>"
                    })
                });
            </script>
        </div>




    </main>

    <%- include("../includes/index-footer.ejs") %>


    <script src="/js/code.jquery.com_jquery-3.7.0.js"></script>
    <script src="/js/main_cart.js"></script>


<%- include("../includes/html-end.ejs") %>
    