<%- include("../includes/html-head.ejs") %>

    <link rel="stylesheet" href="/css/cart_style.css">



<%- include("../includes/html-start.ejs") %>


    <%- include("../includes/index-header.ejs") %>
    <main id="main" style="height: 85vh; display: flex; justify-content: start; align-items: center; flex-direction: column; text-align: center;">

        <% products.forEach(p => { %>
            <li class="cart__item" style="margin-top: 1rem;">
                <h1><%= p.productId.title %></h1>
                <h2>Quantity: <%= p.quantity %></h2>
            </li>
        <% }) %>

        <div style="margin-top: 3rem;">
            <h2>Total: <%= totalSum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></h2>
        </div>


        <div class="centered">
            <button id="order-btn" class="btn yellow-button" style="font-size: 1rem; padding: 0.5rem 2rem; border-radius: 99px; margin-top: 1rem;">Proceed to payment</button>
            <div style="margin-top: 1rem; gap: 0.5rem; display: flex; flex-direction: column;">
                <p>*kindly use this testing card number : 4242 4242 4242 4242</p>
                <p>and fill the remaining inputs with any information</p>
            </div>
            
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                // This is your test publishable API key.
                //remove*
                var stripe = Stripe("<%=Pub_Test_K%>");
                //
                var orderBtn = document.getElementById("order-btn");
                //will redirect the user to some of stripe's pages
                //to place card info and once done the user is redirected back to us
                orderBtn.addEventListener("click", function() {
                    stripe.redirectToCheckout({
                        //sessionId should be a string
                        //inject the js code in a string
                        sessionId: "<%=sessionId%>"
                    })
                });
            </script>
        </div>




    </main>

    <%- include("../includes/index-footer.ejs") %>


    <script src="/js/code.jquery.com_jquery-3.7.0.js"></script>
    <script src="/js/main_cart.js"></script>


<%- include("../includes/html-end.ejs") %>
    