<%- include("includes/html-head.ejs") %>

<!-- <link rel="stylesheet" href="./css/all-products.css"> -->




<%- include("includes/html-start.ejs") %>


    <%- include("includes/index-header.ejs") %>

    
    <div style="height: 85vh; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
        <!-- <div><%=text%></div> -->
        <h1>404</h1>
        <h2>This URL does not exist on the website</h2>
    </div>


    <%- include("includes/index-footer.ejs") %>

    
<%- include("includes/html-end.ejs") %>

