<%- include("includes/html-head.ejs") %>

<!-- <link rel="stylesheet" href="./css/all-products.css"> -->




<%- include("includes/html-start.ejs") %>


    <%- include("includes/index-header.ejs") %>

    
    <h1><%=text%></h1>


    <%- include("includes/index-footer.ejs") %>

    
<%- include("includes/html-end.ejs") %>

