<%- include("../includes/html-head.ejs") %>

<link rel="stylesheet" href="/css/login_style.css">
<style>
    main {
        min-height: auto;
    }
</style>



<%- include("../includes/html-start.ejs") %>


    <%- include("../includes/index-header.ejs") %>


    <main style="height: 50vh; display: flex; justify-content: center; align-items: start; flex-direction: row; text-align: center; padding-top: 2rem;">
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>

            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="userId" value="<%=userId%>">
            <input type="hidden" name="passwordToken" value="<%=passwordToken%>">
            <button class="btn" type="submit">Update Password</button>
        </form>

    </main>
    <%- include("../includes/index-footer.ejs") %>
<%- include("../includes/html-end.ejs") %>
