<%- include("../includes/html-head.ejs") %>

<link rel="stylesheet" href="/css/orders_style.css">




<%- include("../includes/html-start.ejs") %>


    <%- include("../includes/index-header.ejs") %>


    <main>
        <div class="main__main__wrapper">
            <div class="main__main__content">

                <nav class="main__main__content__top-link--container" aria-label="site navigation">
                    <a href="" class="main_link">Your Account</a>
                    <span aria-hidden="true">></span>
                    <a href="" class="main_link active_link">Your Orders</a>
                </nav>

                <div class="main__main__content__orders-header">
                    <h1 class="main__main__content__orders-header--header">Your Orders</h1>
                    <div class="main__main__content__orders-header--search__container">
                        <span class="main__main__content__orders-header--search--field--container">
                            <div class="logo_container">
                                
                            <i class="main__main__content__orders-header--search--logo"></i>
                            </div>
                            <div class="main__main__content__orders-header--search--field--container2" aria-label="Search your orders">
                            <span class="main__main__content__orders-header--search--field">
                            <input type="search" placeholder="Search orders">
                            </span>
                            <button type="button" class="main__main__content__orders-header--search--button">Search Orders</button>
                            </div>
                        </span>
                    </div> 
                </div>

                <div class="main__main__content__orders__page-tabs">
                    <ul class="page-tabs__list" aria-label="View orders with a specific status">
                        <li><a href="" class="page-tabs__tab page-tabs__tab-active">Orders</a></li>
                        <li><a href="" class="page-tabs__tab">Buy it again</a></li>
                        <li><a href="" class="page-tabs__tab">Not yet dispatched</a></li>
                        <li><a href="" class="page-tabs__tab">Cancelled orders</a></li>
                    </ul>
                </div>


                <div class="main__main__content__orders__orders-amount">
                    <span class="order-amount__count" aria-label="Amount of recent orders">
                        <b><%= orders.length%></b> <span aria-hidden="true">placed in</span>
                    </span>
                    <span class="orders_amount__filter__container">
                        <select class="orders_amount__filter" aria-label="select the history duration for the orders displayed">
                            <option>past three months</option>
                        </select>
                        <i class="order_amount__filter--logo"></i>
                    </span>
                </div>


                <div class="main__main__content__orders__results__wrapper">

                    <% if (orders.length > 0) { %>
                        <% orders.forEach(order => { %>
                        <div class="main__main__content__orders__result__container" aria-label="order group">
                            <div class="orders__result--header-area">
                                <ul class="orders__result--header--list" aria-label="order details">
                                    <li class="orders__result--header--list--item" aria-label="Order date">
                                        <h3>Order placed</h3>
                                        <p><%=order.date.Day%> <%=order.date.Month%> <%=order.date.Year%></p>
                                    </li>
                                    <li class="orders__result--header--list--item" aria-label="Order's total cost">
                                        <h3>Total</h3>
                                        <p>EGP <%=order.totalCost%></p>
                                    </li>
                                    <li class="orders__result--header--list--item" aria-label="Order's delivery destination">
                                        <h3>Ship to</h3>
                                        <p><%=order.user[0].name%></p>
                                    </li>
                                    <li class="orders__result--header--list--item" aria-label="Order's number and invoice">
                                        <h3>ORDER # <%=order._id.toString().substring(0,3)%>-<%=order._id.toString().substring(3,10)%>-<%=order._id.toString().substring(10)%></h3>
                                        <span class="orders__result--header--list--item--order-details">
                                            <a href="" class="main_link">View order details</a>
                                            <span aria-hidden="true" class="orders__result--header--list--item--order-details--separator"> | </span>
                                            <a href="" class="main_link">Invoice</a>
                                        </span>
                                    </li>

                                </ul>
                            </div>


                            <div class="orders__result--items--container">
                                <div class="orders__result--items--header" aria-label="delivery information">
                                    <h2>Delivered <%=order.deliveredDate.Day+1%> <%=order.deliveredDate.Month%> <%=order.deliveredDate.Year%></h2>
                                    <p>Your package was <%=order.deliveredMethod %></p>
                                </div>

                                <div class="orders__result--items" aria-label="order's items list">

                                    <% order.products.forEach(p => { %>

                                    <div class="orders_result--item" aria-label="item">
                                        <a href="/products/<%=p.product._id%>" class="orders__result--item--image">
                                            <img src="<%= p.product.imageUrl%>" alt="<%= p.product.title%>">
                                            <% if (p.quantity > 1) { %> 
                                            <span class="order-item--quantity"><%=p.quantity%></span>
                                            <%}%>
                                        </a>
                                        <div class="orders__result--item--description" aria-label="items's description">
                                            <a href="/products/<%=p.product._id%>" class="orders__result--item--description--title">
                                                <%= p.product.title%>
                                            </a>
                                            <p class="orders__result--item--description--note">Return or replace items eligible</p>
                                            <div class="orders__result--item--description--links">
                                                <button type="button" class="yellow-button">Buy it again</button>
                                                <button type="button" class="white-button"><a href="/products/<%=p.product._id%>" style="text-decoration: none; color: black;">View your item</a></button>
                                            </div>
                                        </div>
                                    </div>

                                    <% }) %>
                                </div>

                                
                                <div class="orders__result--control-links" aria-label="order's action links">
                                    <a href="" class="orders__result--control-links--link white-button">Track package</a>
                                    <a href="" class="orders__result--control-links--link white-button">Return or replace items</a>
                                    <a href="" class="orders__result--control-links--link white-button">Get Help</a>
                                    <a href="" class="orders__result--control-links--link white-button">Leave seller feedback</a>
                                    <a href="" class="orders__result--control-links--link white-button">Write a product review</a>
                                </div>            
                                
                                

                            </div>
                        </div>

                        <% }) %>
                    <% } %>


                </div>


            



            </div>
        </div>

    </main>


    <%- include("../includes/index-footer.ejs") %>

    
<%- include("../includes/html-end.ejs") %>


